<div class="content">
    <div class="title-section">
        <h2 class="main-title">TreeVision</h2>
        <div>
            <mat-grid-list cols="3" rowHeight="250px">
                <mat-grid-tile>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui modi,
                        delectus nostrum accusamus sit dignissimos excepturi, obcaecati a
                        magnam itaque atque odio et iusto similique perferendis consequuntur
                        distinctio sint consequatur, et iusto similique perferendis
                        consequuntur distinctio sint consequatur.
                    </p>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div>
                        <img src="../../../assets/images/landing.png">
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="cards">
        <div class="card-cares">
            <img mat-card-image src="../../../assets/images/cherry-robo-gardener.png" alt="Photo of a Shiba Inu">
            <div>
                <p>Título 1 - Cuidados</p>
            </div>
            <div>
                <p>Manual de cuidados completo para cada planta </p>
                <!-- https://icons8.com/illustrations/illustration/cherry-picking-bitcoins -->
            </div>
            <div>
                <button mat-flat-button color="primary">Primary</button>
            </div>
        </div>

        <div class="card-cares">
            <img mat-card-image src="../../../assets/images/cherry-518.png" alt="Photo of a Shiba Inu">
            <div>
                <p>Título 1 - Cuidados</p>
            </div>

            <div>
                <p>Manual de cuidados completo para cada planta </p>
            </div>

            <div>
                <button mat-flat-button color="primary">Primary</button>
            </div>
        </div>
    </div>
</div>