.content {
  padding: 20px;
}

.main-title {
  font-size: 60px;
  color: green;
  font-family: 'Signika Negative';
}

.description {
  color: white;
}

.title-section {
  margin-left: 10%;
  margin-top: 6%;
}

h2 {
  margin-bottom: -3%;
}

.example-card {
  max-width: 400px;
}

.cards {
  margin-left: 2%;
  min-height: 365px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  width: 300px;
  background-color: #ffffff;
}

.cards-conteiner {
  justify-content: center;
  margin-top: -10px;
  display: flex;
  flex-direction: row;
}

.img-landing {
  // margin-left: 10%;
  margin-top: -1%;

  img {
    border-radius: 20px;
  }
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: green;
  font-weight: bold;
}

.card-description {
  font-family: 'Signika Negative';
}