.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.add {
  width: 300px;
  height: 300px;
}

.card-title {
  display: flex;
  align-self: center;
}

.card-content {
  margin-top: 24px;
}

.save-button {
  display: flex;
  align-self: center;
}
